.img-container {
  width: 35%;
  margin-left: 10px;
  position: fixed;
  right: 2%;
  img {
    width: 100%;
    height: auto;
  }
}

#fixed {
  position: sticky;
}

.companies-container {
  display: flex;
  width: 65%;
  flex-direction: column;
  max-height: 70vh;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.company-card {
  background-color: #1D1E22;
  margin-top: 20px;
  border-radius: 5px;
  max-height: 60%;
  min-height: 10%;
  overflow: scroll;
}

.company-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: #1D1E22;
  padding: 10px;
}

.first-card {
  margin-top: 30px;
}

.details-card {
  background-color: #1D1E22;
  padding-top: 10px;
}

.time-location {
  text-align: right;
  padding: 10px;
}

.grid-skills {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;

  p {
    margin: 0 auto;
    padding: 5px 15px 5px 15px;
    border: solid 1px white;
    border-radius: 15px;
    background-color: #1D1E22;
  }
}

.skill-details {
  text-align: center;

  p {
    margin-top: 10px;
  }
}

.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1D1E22;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.ranking {
  color: white;
}
