<ul>
  <li>
    <p>
      Onboard new customers by assisting them in setting up the Amenitiz
      account, connections, and training on the system via phone calls and
      screen sharing calls.
    </p>
  </li>
  <li>
    <p>
      Ensure proper utilization of Amenitiz to maximize the use of the tool.
    </p>
  </li>
  <li>
    <p>
      Help the client to correctly set up their account and assist them during the
      customer journey
    </p>
  </li>
  <li>
    <p>
      Gather customer feedback regarding possible bugs, improvements, and
      new functionalities, passing it along to the Product team.
    </p>
  </li>
  <li>
    <p>
      Work with the other departments (Sales, Support, Product, etc.) to
      maximize customer value.
    </p>
  </li>
</ul>
<div class="time-location">
  <p>01/2022 - 10-2022   Barcelona, Spain</p>
</div>
