<%# <i class="fa-regular fa-circle-xmark" data-action="click->contact#close"></i> %>
<p>Email: guerinflorian02@gmail.com</p>
<p>Phone: +33 638724998</p>
<p>Linkedin: <%= link_to "Florian Guerin", "https://www.linkedin.com/in/florian-guerin-8b1091112/", target: :_blank %></p>
<p>GitHub: <%= link_to "FlorianG2", "https://github.com/FlorianG2", target: :_blank %></p>
