<div class="title">
  <h2>EDUCATION</h2>
</div>
<div class="d-flex">
  <div class="companies-container">
    <div class="company-card first-card" >
      <div class="company-card-title" data-action="click->about#dropdown">
        <h4>Web Development</h4>
        <p>Le Wagon</p>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card-title" data-action="click->about#dropdown">
        <h4>Master II Event Marketing</h4>
        <p>INSEEC U Business school</p>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card-title" data-action="click->about#dropdown">
        <h4>Master I Luxury</h4>
        <p>INSEEC U Business school</p>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card-title" data-action="click->about#dropdown">
        <h4>Bachelor Degree in Engineering</h4>
        <p>IUT Lyon 1</p>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card-title" data-action="click->about#dropdown">
        <h4>DUT Mechanical Engineering &
            Production
        </h4>
        <p>IUT Lyon 1</p>
      </div>
    </div>
  </div>
  <div class="img-container">
    <%#= image_tag "portrait.png" %>
  </div>
</div>
