<ul>
  <li>
    <p>
      Plan and schedule transports according to business and legal rules,
      scope for domestic and international shipments (outbound perspective)
    </p>
  </li>
  <li>
    <p>
      Ensure master data integration on TMS
    </p>
  </li>
  <li>
    <p>
      Manage any unrouteable issue during the optimization process within the
      expected timelines
    </p>
  </li>
  <li>
    <p>
      Conduct any communication with Customer Care /SCP or Sites related
      with daily operations activities
    </p>
  </li>
</ul>
<div class="time-location">
  <p>11/2022 - 03-2023   Barcelona, Spain</p>
</div>
