<ul>
  <li>
    <p>
     Assisted students at Le Wagon in their learning journey, fostering a positive and motivating environment to encourage a passion for coding.
    </p>
  </li>
  <li>
    <p>
      Supported lead instructors in delivering high-quality coding education to a diverse cohort of students, providing guidance and feedback during coding exercises and projects.
    </p>
  </li>
</ul>
<div class="time-location">
  <p>07/2023 - 08-2023   Barcelona, Spain</p>
</div>
