<ul>
  <li>
    <p>
      Customer Relationship Management: Build and maintain strong
      relationships with international customers, understand their needs, and
      provide appropriate technical solutions.
    </p>
  </li>
  <li>
    <p>
      Technical Support: Provide technical support and guidance to customers
      during the sales process, addressing their technical inquiries, and assisting with product implementation.
    </p>
  </li>
</ul>
<div class="time-location">
  <p>01/2021 - 12-2021   Mâcon, France</p>
</div>
