<div class="navbar">
  <div class="menu-navbar">
    <div class="link">
      <%= link_to "About me", about_me_path %>
    </div>
    <div class="link">
      <%= link_to "Projects", projects_path %>
    </div>
  </div>
  <div class="btn-navbar">
    <div class="link" data-action="click->contact#popup">
      <p id="btn-contact">Contact me</p>
    </div>
  </div>
</div>
<div class="popup d-none" data-contact-target="info">
  <%= render "shared/contact" %>
</div>
