<div class="title">
  <h2>PROFESSIONAL EXPERIENCES</h2>
</div>
<div class="d-flex flex-row-reverse">
  <div class="companies-container">
    <div class="company-card first-card" >
      <div class="company-card-title" data-action="click->about#dropdown">
        <h4>Teacher Assistant</h4>
        <p>Le Wagon</p>
      </div>
      <div class="details-card">
        <%= render "shared/le_wagon" %>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card-title" data-action="click->about#dropdown">
        <h4>Transport Planner</h4>
        <p>Essity</p>
      </div>
      <div class="d-none details-card">
        <%= render "shared/essity" %>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card-title" data-action="click->about#dropdown">
        <h4>Customer Onboarding Specialist</h4>
        <p>Amenitiz</p>
      </div>
      <div class="d-none details-card">
        <%= render "shared/amenitiz" %>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card-title" data-action="click->about#dropdown">
        <h4>Technical commercial Engineer</h4>
        <p>Mingret</p>
      </div>
      <div class="d-none details-card">
        <%= render "shared/mingret" %>
      </div>
    </div>
  </div>
</div>
