<div class="title">
    <h2>SKILLS</h2>
</div>
<div class="d-flex">
  <div class="companies-container">
    <div class="grid-skills">
      <div class="skill-details">
        <p>RUBY</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>JAVASCRIPT</p>
      </div>
      <div class="skill-details">
        <p>RUBY ON RAILS</p>
        <p>VS CODE</p>
        <p>FIGMA</p>
        <p>HEROKU</p>
      </div>
      <div class="skill-details">
        <p>TEAM WORK</p>
        <p>CROSS-DEPARTMENT</p>
        <p>WEBPACK</p>
        <p>HUBSPOT</p>
      </div>
    </div>
    <div class="title">
      <h2>LANGUAGES</h2>
    </div>
    <div class="language">
      <h4>French</h4>
      <p>Native</p>
      <div class="ranking">
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
      </div>
    </div>
    <div class="language">
      <h4>English</h4>
      <p>Advanced</p>
       <div class="ranking">
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
      </div>
    </div>
    <div class="language">
      <h4>Spanish</h4>
      <p>Intermediate</p>
       <div class="ranking">
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
      </div>
    </div>
  </div>
  <div class="img-container">
    <%#= image_tag "portrait.png" %>
  </div>
</div>
