<p>
  Rails application to keep track of what you have in your 'inventory' (food you have at home) and its expiration date. <br>
  <br> At the moment this uses an estimate for a given (for now arbitrary) food-category, e.g. a tomato gets its expiration date from the vegetable category (7 days). <br>
  <br> Select ingredients to use and get an overview of recipes matching your selection. <br>
  <br> Generate a shopping list from a recipe (matching your existing ingredients and removing from inventory & adding missing ingredients to shopping list). <br>
  <br> Add bought ingredients directly from shopping list or adding manually (using either dropdown-search or barcode scan)
</p>
<p>
  <br>You will need to log In to enter the web app. <br>
  <br>You can use this email: florian@wasteless.es
  <br> With this password: 123456
</p>
