<div class="container" data-controller="about">
  <div class="">
    <%= render "shared/professional_experiences" %>
  </div>
  <div class="">
    <%= render "shared/education" %>
  </div>
  <div class="">
    <%= render "shared/skills" %>
  </div>
</div>
