<div class="container" data-controller="about">
  <div class="img-container">
    <%= image_tag "portrait.png" %>
  </div>
  <div class="my-4">
    <%= render "shared/professional_experiences" %>
  </div>
  <div class="my-5">
    <%= render "shared/education" %>
  </div>
  <div class="my-5">
    <%= render "shared/skills" %>
  </div>
</div>
