// Your CSS partials
@import "pages/index";
@import "components/index";


body {
  background-color: black;
  margin: 0;
  height: 100vh;
  font-family: 'Monaco';
}

h4 {
  margin: 0;
  color: white;
}

h2 {
  margin: 0;
  color: white;
}

p {
  margin: 0;
  color: white;
}
